@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');


* {
    padding: 0;
    margin: 0;
}


@theme {
    --font-cinzel: "Cinzel", sans-serif ;
}