@import "tailwindcss";


* {
    padding: 0;
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
}


@theme {
    --font-cinzel: "Cinzel", sans-serif ;
    --font-source-sans-3: "Source Sans 3", sans-serif;
}